.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-heading {
  color: white;
}

.wrapper {
  width: 800px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(70px);
  /* border: 2px solid black; */
}

.label {
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-input {
  padding-left: 8px;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
  transition: border 250ms linear;
}
.search-input:hover,
.search-input:focus {
  border: 2px solid rgb(0, 200, 0);
}

.sort-button {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: border 250ms linear;
}
.sort-button:hover {
  border: 2px solid rgb(0, 200, 0);
}
